<div class="container">
  <div *ngIf="!element.completed; else sicompletado" >
    <p>
      <input (change)="onToggle(element)" type="checkbox" [checked]="false"/>
      <a  [routerLink]="['edit', element.id]" class="btn btn-primary"> {{ element.title }}</a>
     
      <button class="del" (click)="onDelete(element)">x</button>
    </p>
  </div>
  <ng-template #sicompletado>
    <p>
      <input (change)="onToggle(element)" type="checkbox" [checked]="true"/>
      <a style="text-decoration: line-through" [routerLink]="['edit', element.id]" class="btn btn-primary btn-lg"> {{ element.title }}</a>
     
      <button class="del" (click)="onDelete(element)">x</button>
    </p>
  </ng-template>
</div>