<div class="container">
  <div class="todo" *ngIf="!element.completed; else sicompletado" >
    <p>
      <input (change)="onToggle(element)" type="checkbox" [checked]="false"/>
      <a  [routerLink]="['edit', element.id]" > {{ element.title }}</a>
     
      <button class="del" (click)="onDelete(element)">x</button>
    </p>
  </div>
  <ng-template #sicompletado>
    <div class="todo">
      <p>
      <input (change)="onToggle(element)" type="checkbox" [checked]="true"/>
      <a style="text-decoration: line-through" [routerLink]="['edit', element.id]" > {{ element.title }}</a>
     
      <button class="del" (click)="onDelete(element)">x</button>
      </p>
    </div>
  </ng-template>
</div>